@import url("./assets/styles/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan";
  list-style: none;
}

:root {
  --primaryColor: #084bb8;
  --secondaryColor: #b0cdfb;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  font-family: "iranyekan";
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
}
.todo-container {
  width: 25rem;
}

form {
  width: 25rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

form input {
  flex: 1;
}

form input,
form button {
  border: none;
  outline: none;
  background-color: var(--mainWhite);
  font-size: 1rem;
  padding: 0.5rem;
}

form button {
  color: var(--primaryColor);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

form button:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}

div.todo {
  display: flex;
  background-color: var(--secondaryColor);
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem 0;
  transition: all 0.3s ease;
}
.todo li {
  flex: 1;
  color: var(--primaryColor);
  font-weight: bold;
}

.todo span {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.fa-trash {
  color: var(--mainRed);
}

.fa-check-square {
  color: var(--primaryColor);
}

.completed {
  text-decoration: line-through;
  opacity: 0.55;
}

select {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  color: var(--primaryColor);
}

.select {
  margin-left: 1rem;
  background-color: #fff;
  cursor: pointer;
  width: 10rem;
  font-weight: bold;
  position: relative;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: var(--primaryColor);
  pointer-events: none;
}
